.button {
    margin-left: 400px;
    margin-top: 200px;
    background-color: var(--primary-color-light);
    color: var(--black);
    padding: 10px 25px;
    min-width: 200px;
    text-align: center;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: 500;
}

.button::after {
    content: url('../../media/arrow.svg');
    margin-left: 10px;
    position: relative;
    top: 2px;
}