.button {
    background-color: var(--primary-color-light);
    color: var(--black);
    padding: 10px 25px;
    min-width: 200px;
    text-align: center;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: 500;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.9;
    transition: 0.3s;
}

.button::after {
    content: url('../../media/arrow.svg');
    margin-left: 10px;
    position: relative;
    top: 2px;
}

a.button:hover {
   background-color: var(--primary-color-lighter);
   color: var(--black);
   opacity: 1;
}