.circleImg {
    object-fit: cover; 
    object-position: 50% 50%;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.smallCircle {
    height: 320px;
    width: 320px; 
    border-radius: 50%; 
    position: absolute;
    top: 150px;
    right: 300px;
    background-color: var(--primary-color-dark-opacity);
}

.bigCircle {
    height: 450px; 
    width: 450px; 
    border-radius: 50%; 
    position: absolute; 
    right: 0;
    background-color: var(--primary-color-opacity);
}