.bgcontainer {
    background-image: url('../media/bbird.jpg'), linear-gradient(rgba(82, 82, 82, 5),rgba(18, 24, 18, 0.5));
}

.parent {
    background-image: url('../media/bbird.jpg'), linear-gradient(rgba(82, 82, 82, 5),rgba(18, 24, 18, 0.5));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    height: 450px;
}

.text {
    color: var(--primary-color-lighter);
}

@media (min-width: 992px) {
    .bgcontainer {
        margin: 100px 0 !important;
    }
}