.firstImg {
    margin-top: 140px;
    text-align: center;
}

.secondImg {
    text-align: center;
}

.thirdImg {
    margin-top: 80px;
    text-align: center;
}

.textAndImageContainer a {
    opacity: 0.9;
    transition: 0.3s;
}

.textAndImageContainer a:hover {
    color: var(--primary-color);
    opacity: 1;
}

.textAndImageContainer a:after {
    content: url('../media/arrow.svg');
    margin-left: 10px;
    position: relative;
}