.firstImg {
    text-align: center;
}

.secondImg {
    text-align: center;
}

.thirdImg {
    text-align: center;
}

.textAndImageContainer a {
    opacity: 0.9;
    transition: 0.3s;
}

.textAndImageContainer a:after {
    content: url('../media/arrow.svg');
    margin-left: 10px;
    position: relative;
}

@media (min-width: 992px) {
    .firstImg {
        margin-top: 140px;
    }

    .thirdImg {
        margin-top: 80px;
    }
}